<div class="modal fade" id="successModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <p>El producto se ha eliminado</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="confirmSuccess" onclick="location.reload()">Aceptar</button>
            </div>
        </div>
    </div>
</div>