.hide{
	display: none !important;
}
nav.navbar.navbar-expand-sm.flex-md-nowrap.navbar-dark.bg-dark.sticky-top {
    background-color: #ffffff !important;
    box-shadow: 0px 1px 3px #00000040;
}
.txtcolor_kellys, .btn_goToKellys, .nav-link{
	color: #f7a32d !important;
}
.btn_goToKellys:hover{
	color: #ffffff !important;
}
.bgcolor_kellys,
.btn-outline-secondary:hover{
	background-color: #f7a32d !important;
}
.bordercolor_kellys{
	border-color: #f7a32d !important;
}
.form-group {
	margin-bottom: 15px;
}
.align-right{
	float: right;
}
.container_seguimiento{
	margin-top: 20px;
}

@media (min-width: 768px){
	.text-lg-right {
    	text-align: right;
	}
}
.lblCard{
	color: #999;
}
.statusPointer{
	width: 45px;
    height: 45px;
    border-radius: 22.5px;
    border: 5px solid #fff;
    box-shadow: 0px 2px 5px #0000005c;
    position: absolute;
    top: -15px;
    left: 0%;
    transition: all 0.75s;
}
.statusPointer:before{
    content: '';
    background-image: url(../img/bag.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    width: 35px;
    height: 33px;
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
}
.fechaInfo,
.horaInfo{
	color: #999;
}
.active .lblInfo{
	font-weight: bold;
}
.barra{
	position: relative;
	margin-top: 40px;
	margin-bottom: 20px;
}
.containerStatus{
	margin-bottom: 30px;
	position: relative;
}
.progress-bar{
	transition: all 0.6s;
}
.containerStatus td {
    margin-bottom: 15px;
    display: block;
}
.container_head_detail{
	background-image: url(../img/icon_tracking.svg);
	background-size: 76px 76px;
	background-repeat: no-repeat;
	background-position: right;
}

/*optimzisaciones*/
@media all and (max-width: 1200px){
	.statusInfoPickUp  span.statusPedido {
	    font-size: 80%;
	    max-width: 20% ;
	}
}

@media all and (max-width: 767px){
	.barra {
	    width: 50%;
	    display: inline-block;
	    vertical-align: top;
	    position: absolute;
        left: -70px;
    	top: 10px;
	}
	.barra .progress {
	    transform: rotate(90deg) translateX(90px);
	    overflow: initial;
	}
	.statusPointer:before{
	    transform: rotate(-90deg);
	    width: 33px;
    	height: 35px;
	}
	.statusInfo.row {
	    width: 65%;
	    float: right;
	}
	.statusInfoShipping,
	.statusInfoPickUp  {
        width: 50%;
	    max-width: 50%;
	    flex: initial;
	    font-size: 100%;
	    display: inline-block;
	    float: right;
	    margin-right: 20px;
	}
	.statusInfoPickUp  span.statusPedido{
		font-size: 100%;
		width: 100%;
	}
	.statusPedido {
		width: 100%;
		flex: initial;
	}
	.container_seguimiento h2{
		font-size: calc(1.325rem + .25vw);
	}
	.container_head_detail span{
		display: block;
	}
}
@media all and (max-width: 355px){
	.barra {
        left: -125px;
    	top: 10px;
	}
	.statusInfoShipping, .statusInfoPickUp {
    	width: 65%;
    	max-width: 65%;
	}
}

@media all and (max-width:767px) {
	.navbar-dark .navbar-toggler {
		background-color: #f8a32d;
	}

	nav.navbar.navbar-expand-sm.flex-md-nowrap.navbar-dark.bg-dark.sticky-top .container {
		display: contents;
	}
}